
<h2> הוספת מתכון</h2>
<div class="recipe-container">
    <div class="recipe-form">
      <form [formGroup]="recipeForm">
        <div class="form-group">
          <label for="recipeCode">קוד מתכון</label>
          <input type="number" id="recipeCode" formControlName="recipeCode" class="form-control">
          <ng-container *ngIf="recipeForm.controls['recipeCode'].errors as recipeCodeError">
            <p *ngIf="recipeCodeError['required']" class="text-danger">Recipe Code is required!</p>
          </ng-container>
        </div>
        <div class="form-group">
          <label for="nameRecipe">Recipe Name</label>
          <input type="text" id="nameRecipe" formControlName="nameRecipe" class="form-control">
          <ng-container *ngIf="recipeForm.controls['nameRecipe'].errors as nameErrors">
            <p *ngIf="nameErrors['required']" class="text-danger">Recipe Name is required!</p>
            <!-- <p *ngIf="recipeForm.controls['nameRecipe'].errors['lettersOnly']" class="text-danger">Recipe must contain only letters</p> -->
          </ng-container>
        </div>
        <div class="form-group">
          <label for="category">קטגוריה</label>
          <select id="category" formControlName="categoryCode" class="form-control">
            <option   *ngFor="let category of categoryList" [value]="category.code">
              {{ category.name }}
            </option>
          </select>
        </div>
        <div class="form-group">
          <label for="preparationTime">זמן הכנה</label>
          <input type="number" id="preparationTime" formControlName="preparationTime" class="form-control">
          <ng-container *ngIf="recipeForm.controls['preparationTime'].errors as preparationTimeError">
            <p *ngIf="preparationTimeError['required']" class="text-danger">Preparation Time is required!</p>
          </ng-container>
        </div>
        <div class="form-group">
          <label for="levelOfDifficulty">Difficulty Level</label>
          <input type="number" id="levelOfDifficulty" formControlName="levelOfDifficulty" class="form-control">
          <ng-container *ngIf="recipeForm.controls['levelOfDifficulty'].errors as DifficultyError">
            <p *ngIf="recipeForm.controls['levelOfDifficulty']" class="text-danger">Difficulty Level must be between 1 and 5!</p>
          </ng-container>
        </div>
        <div class="form-group">
          <label for="dateAdded">Date Added</label>
          <input type="date" id="dateAdded" formControlName="dateAdded" class="form-control" >
          <ng-container *ngIf="recipeForm.controls['dateAdded'].errors as dateAddedError">
            <p *ngIf="dateAddedError['required']" class="text-danger">Date Added is required!</p>
          </ng-container>
        </div>
        <div class="form-group">
          <label>Ingredients</label>
          <div formArrayName="ingredients">
            <div *ngFor="let ingredient of ingredientsArray.controls; let i = index" class="form-group">
              <input type="text" [formControlName]="i" (input)="addIngredient()" class="form-control"
                *ngIf="i === ingredientsArray.length - 1 || ingredient.value.trim() !== ''">
            </div>
          </div>
          <button type="button" (click)="removeEmptyIngredients()" class="btn btn-primary">Add Ingredients</button>
        </div>
        <div class="form-group">
          <label>Preparation Method</label>
          <div formArrayName="preparationSteps">
            <div *ngFor="let step of preparationStepsArray.controls; let i = index" class="form-group">
              <input type="text" [formControlName]="i" (input)="addPreparationStep()" class="form-control"
                *ngIf="i === preparationStepsArray.length - 1 || step.value.trim() !== ''">
            </div>
          </div>
          <button type="button" (click)="removeEmptyPreparationSteps()" class="btn btn-primary">Add Preparations</button>
        </div>
        <div class="form-group">
          <label for="userCode">User Code</label>
          <input type="number" id="userCode" formControlName="userCode" class="form-control">
          <ng-container *ngIf="recipeForm.controls['userCode'].errors as userCodeError">
            <p *ngIf="userCodeError['required']" class="text-danger">User Code is required!</p>
          </ng-container>
        </div>
        <div class="form-group">
          <label for="urlImage">Image Routing</label>
          <input type="text" id="urlImage" formControlName="urlImage" class="form-control">
          <ng-container *ngIf="recipeForm.controls['urlImage'].errors as imageRoutingError">
            <p *ngIf="imageRoutingError['required']" class="text-danger">Image Routing is required!</p>
          </ng-container>
        </div>
        <button type="button" (click)="saveRecipe()" [disabled]="recipeForm.invalid" class="btn btn-primary">Save</button>
      </form>
    </div>
  </div>
  
  

<!-- <div class="bg-img">
    <form [formGroup]="recipeForm" (ngSubmit)="onSubmit()" class="container">
        <h2>טופס הוספת מתכון</h2>
        <div class="form-group">
            <label for="recipeCode">קוד מתכון</label>
            <input type="number" id="recipeCode" formControlName="recipeCode" class="form-control">
            <ng-container *ngIf="recipeForm.controls['recipeCode'].touched" class="error-message">
                <p *ngIf="recipeForm.controls['recipeCode'].hasError('required')">שדה חובה!</p>
            </ng-container>
        </div>
        <div class="form-group">
            <label for="nameRecipe">שם מתכון</label>
            <input type="text" formControlName="nameRecipe" id="nameRecipe" (focusout)="nameRecipeFocused = true">
            <ng-container *ngIf="nameRecipeFocused && recipeForm.controls['nameRecipe'].touched" class="error-message">
                <p *ngIf="recipeForm.controls['nameRecipe'].hasError('required')">שדה חובה!</p>
                <p *ngIf="recipeForm.controls['nameRecipe'].hasError('minlength')">שם חייב להיות לפחות מתווים</p>
            </ng-container>
        </div>
        <div class="form-group">
            <label for="categoryCode">קטגוריה</label>
            <select formControlName="categoryCode" id="categoryCode">
                <option *ngFor="let category of categories" [value]="category.code">{{ category.name }}</option>
            </select>
           
        </div>
        <div class="form-group">
            <label for="dateAdded">תאריך הוספת המתכון</label>
            <input type="date" id="dateAdded" formControlName="dateAdded" class="form-control" >
            <ng-container *ngIf="recipeForm.controls['dateAdded'].touched" class="text-danger">
              <p *ngIf="recipeForm.controls['dateAdded'].hasError('required')">Date Added is required!</p>
            </ng-container>
          </div>
        <div class="form-group">
            <label for="preparationTime">זמן הכנה (בדקות)</label>
            <input type="number" formControlName="preparationTime" id="preparationTime">
            <ng-container *ngIf="preparationTimeFocused && recipeForm.controls['preparationTime'].touched" class="error-message">
                <p *ngIf="recipeForm.controls['preparationTime'].hasError('required')">שדה חובה!</p>
                <p *ngIf="recipeForm.controls['preparationTime'].hasError('min')">זמן הכנה חייב להיות מספר חיובי</p>
            </ng-container>
        </div>
        
        <div class="form-group">
            <label for="levelOfDifficulty">רמת קושי</label>
            <input type="number" formControlName="levelOfDifficulty" id="levelOfDifficulty">
            <ng-container *ngIf="levelOfDifficultyFocused && recipeForm.controls['levelOfDifficulty'].touched" class="error-message">
                <p *ngIf="recipeForm.controls['levelOfDifficulty'].hasError('required')">שדה חובה!</p>
                <p *ngIf="recipeForm.controls['levelOfDifficulty'].hasError('min')">רמת הקושי חייבת להיות מספר חיובי</p>
            </ng-container>
        </div>
        <div class="form-group">
            <label>רכיבים </label>
            <div formArrayName="ingredients">
                <div *ngFor="let ingredient of ingredientsArray.controls; let i = index" class="form-group">
                  <input type="text" [formControlName]="i" (input)="addIngredient()" class="form-control"
                    *ngIf="i === ingredientsArray.length - 1 || ingredient.value.trim() !== ''">
                </div>
              </div>
              
          </div>
            
           <div class="form-group">
            <label>הוראות הכנה</label>
            <div formArrayName="preparationSteps">
                <div *ngFor="let step of preparationStepsArray.controls; let i = index" class="form-group">
                <div class="form-group">
                  <input type="text" [formControlName]="i" (input)="addPreparationStep()" class="form-control"
                    *ngIf="i === preparationStepsArray.length - 1 || step.value.trim() !== ''">
                </div>
                </div>
              </div> -->
          <!-- </div>  -->
          <!-- <div class="form-group">
            <label for="urlImage">ניתוב לתמונה</label>
            <input type="url" formControlName="urlImage" id="urlImage" >
            <ng-container *ngIf=" recipeForm.controls['urlImage'].touched" class="error-message">
                <p *ngIf="recipeForm.controls['urlImage'].hasError('required')">שדה חובה!</p>
            </ng-container>
        </div> 
        <button type="submit"  [disabled]="recipeForm.invalid" class="btn">שמור מתכון</button>
    </form>
</div>-->


