<!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">My Website</a>
    
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/register/login">Login</a>
        </li>
        
        <li class="nav-item">
          <a class="nav-link" routerLink="/register/toRegister">Register</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/logout">Logout</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/recipe/all-recipes">All Recipes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/recipe/add-recipe">Add Recipe</a>
        </li>
      </ul>
    </div>
  </nav> -->

  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <!------ Include the above in your HEAD tag ---------->
  
  <nav class="navbar navbar-expand-lg navbar-dark">
              <a href="#" class="navbar-brand">Logo</a>
              <button class="navbar-toggler" type="button" data-target="#navigation">
                  <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse">
                  <ul class="navbar-nav">
                      <li class="nav-item active">
                        <a class="nav-link" routerLink="/register/login">Login</a>
                      </li>
                      <li class="nav-item active">
                        <a class="nav-link" routerLink="/register/toRegister">Register</a>
                      </li>
                      <li class="nav-item active">
                        <a class="nav-link" routerLink="/logout">Logout</a>
                      </li>
                      <li class="nav-item active">
                        <a class="nav-link" routerLink="/recipe/all-recipes">All Recipes</a>
                      </li>
                      <li class="nav-item active">
                        <a class="nav-link" routerLink="/recipe/add-recipe">Add Recipe</a>
                      </li>
                    
                  </ul>
              </div>
          </nav>