
.navbar{background:#e99b9b;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 0;
    z-index: 1000;
    height: 60px; /* Adjust the height based on your top bar's actual height */
}
.nav-item::after{content:'';display:block;width:0px;height:2px;background:#810667;transition: 0.2s;}
.nav-item:hover::after{width:100%;}
.navbar-dark .navbar-nav .active > .nav-link, .navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .show > .nav-link,.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover{color:#860786;}
.nav-link{padding:15px 5px;transition:0.2s;}
.dropdown-item.active, .dropdown-item:active{color:#0c3763;}
.dropdown-item:focus, .dropdown-item:hover{background:#c00992;}
.user-icon {
position: relative;
}

.user-icon img {
width: 40px; /* Adjust as needed */
height: 40px; /* Adjust as needed */
/* background-color: #f3e5e5; */
border-radius: 50%;
}

.user-greeting {
position: absolute;
top: 15px; /* Adjust as needed */
right: -25px; /* Adjust as needed */
color: rgb(243, 235, 235);
/* border-radius: 50%; */
padding: 2px;
font-size: 10px;
color: #000;
}
#use{
margin-left: 15px;
}
